<footer class="mastfoot">
  
  <div class="container">
    <span class="footer-copy"><%= copyright_generator %></span>
    
    <span class="float-right footer-buttons">
      <%= link_to "View all Products", products_path, class: "btn btn-primary" %> /
      <a href="#" class = 'btn btn-primary'>Back to top</a>
    </span>
  </div>
  
</footer>

<!-- <footer class="mastfoot">
  <div class="inner"> -->