<footer class="mastfoot">
  <div class="container">

    <%= copyright_generator %>
    
    <p class="float-right">
      <%= link_to "View all Products", products_path, class: "btn btn-secondary" %> /
      <a href="#" class = 'btn btn-secondary'>Back to top</a>
    </p>
    
  </div>
</footer>

<!-- <footer class="mastfoot">
  <div class="inner"> -->