
<div class="app-card-container">
  <div>
    <h1><span class="about-title">ASL Salon</span></h1>

    <div class="row">
      <div class="col-md-4">
        <p>Something Here</p>

      </div>

      <div class="col-md-8">
        <p>And Here</p>
      </div>
    </div>
  </div>
</div>