
<main role="main" class="inner cover">
  <h1 class="cover-heading">ASL Salon</h1>
  <p class="lead">Come make yourself the most beautiful person the world has ever seen!</p>
  <p class="lead">
    <%= link_to "Learn More", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>