@import "bootstrap";

body {
  background: url('wood-old-wood-weathered-structure-158726.jpeg') no-repeat center center fixed;
  font-family: 'Averia Serif Libre', cursive;
}

.index-btn {
  margin-left: 20px;
  margin-right: 20px;
}