<div class='container'>

  <h1>New Appointment</h1>

  <div class='row'>
    <div class='col-md-8'>

      <%= render 'form', appointment: @appointment %>

    </div>

    <div class='col-md-4'>

    </div>
  </div>
  <%= link_to 'Back', appointments_path, class: 'btn btn-primary btn-block' %>
</div>
