<p id="notice"><%= notice %></p>
<div class="product-lead">
  <h1>Products</h1>
</div>
<div class="album text-muted">
  <div class="container">
    <div class="product-index">
      <div class="row">
        
        <% @products.each do |product| %>
          <div class="col-md-4">
            <p><%= link_to "#{product.title}", product %></p>
            <p><%= image_tag product.image, width: '25%' %></p>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>


